Flask==1.0.2
requests==2.18.4
python-dotenv==0.8.2
pusher==2.0.1
python-telegram-bot==13.0
ChatterBot==1.1.0
spacy==2.1.9
gunicorn==20.0.4
chatterbot-corpus==1.2.0
pandas==0.24.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz#egg=en_core_web_md==2.1.0
google-cloud-speech==2.0.0